services:
  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
    container_name: ai
    env_file:
      - .env
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
