services:
  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
    container_name: ai
    env_file:
      - .env
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - storage:/usr/src/app/storage
  database:
    image: mongo:8.0
    container_name: database
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - .env
    volumes:
      - database:/data/db
    command: ["--bind_ip_all"]
#    network_mode: host

volumes:
  database:
  storage:
